.advantages {
  .container();
}

.advantages__container {
  width: 320px;
  margin: 0 auto;
}

.advantages__wrapper {
  margin-left: 38px;
  border-left: 2px solid @yellow;
}

.advantages__title {
  position: relative;
  width: 320px;
  font-size: 14px;
  font-weight: 900;
  line-height: 27.04px;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 5px;
  color: @title-color;
}

.advantages__list {
  position: relative;
  .no-indents();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  background-color: @white;
  z-index: 1000;
}

.advantages__item-numeration {
  position: relative;
  content: "";
  width: 72px;
  height: 72px;
  background-color: @item-numeration-bg;
  border-radius: 50%;
  margin-bottom: 27px;

  &--credit:after {
    position: absolute;
    top: 27px;
    right: 10px;
    content: "";
    background-image: url("../img/credit-card.svg");
    width: 31px;
    height: 31px;
  }

  &--house:after {
    position: absolute;
    top: 27px;
    right: 10px;
    content: "";
    background-image: url("../img/house.svg");
    width: 31px;
    height: 31px;
  }

  &--sketch:after {
    position: absolute;
    top: 27px;
    right: 10px;
    content: "";
    background-image: url("../img/sketch.svg");
    width: 31px;
    height: 31px;
  }

  &--key:after {
    position: absolute;
    top: 27px;
    right: 10px;
    content: "";
    background-image: url("../img/key.svg");
    width: 30px;
    height: 30px;
  }

  &--deposit:after {
    position: absolute;
    top: 27px;
    right: 10px;
    content: "";
    background-image: url("../img/deposit.svg");
    width: 30px;
    height: 30px;
  }

  &--information:after {
    position: absolute;
    top: 27px;
    right: 10px;
    content: "";
    background-image: url("../img/info.svg");
    width: 30px;
    height: 30px;
  }
}

.advantages__item-numeration b {
  position: absolute;
  top: 61px;
  left: 0;
  color: @item-numeration;
  font-size: 24px;
  font-weight: 900;
  line-height: 12.19px;
}

.advantages__item {
  width: 160px;
  padding-left: 41px;
}

.advantages__item:nth-child(2n) {
  padding-left: 47px;
}

.advantages__item-description {
  width: 93px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.19px;
  margin: 0;
  margin-bottom: 28px;
}

@media (min-width: @desktop-width) {
  .advantages__container {
    width: 100%;
  }

  .advantages__wrapper {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
    border-left: 4px solid @yellow;
  }

  .advantages__title {
    width: 680px; // !
    margin-left: 20px;
    font-size: 40px;
    line-height: 78px;
  }

  .advantages__list {
    width: 1080px;
    margin: 0 auto;
  }

  .advantages__item {
    width: 360px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
  }

  .advantages__item:nth-child(2n) {
    padding-left: 0;
  }

  .advantages__item-description {
    width: 221px;
    font-size: 24px;
    line-height: 30px;
  }

  .advantages__item-numeration {
    width: 175px;
    height: 175px;

    &--credit:after {
      top: 61px;
      right: 23px;
      width: 76px;
      height: 76px;
    }

    &--house:after {
      top: 61px;
      right: 23px;
      width: 76px;
      height: 76px;
    }

    &--sketch:after {
      top: 61px;
      right: 23px;
      width: 76px;
      height: 76px;
    }

    &--key:after {
      top: 61px;
      right: 23px;
      width: 75px;
      height: 74px;

    }

    &--deposit:after {
      top: 61px;
      right: 23px;
      width: 76px;
      height: 76px;
    }

    &--information:after {
      position: absolute;
      top: 61px;
      right: 23px;
      content: "";
      background-image: url("../img/info.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 75px;
      height: 74px;
    }
  }

  .advantages__item-numeration b {
    top: 140px;
    left: -10px;
    font-size: 60px;
    line-height: 30px;
  }

}
