.audience {
  width: 100%;
  background-image: url("../img/small-photo.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 0;
  padding-top: 118px;
  margin-top: -28px;
}

.audience__container {
  .container();
}

.audience__wrapper {
  margin-left: 85px;
  margin-bottom: 20px;
  border-left: 2px solid @yellow;
}

.audience__title {
  position: relative;
  width: 300px;
  color: @title-color;
  font-size: 14px;
  font-weight: 900;
  line-height: 27.04px;
  .no-indents();
  padding-left: 5px;
  margin: 0;
}

.audience__list {
  list-style: none;
  .no-indents();
  padding-top: 40px;
}

.audience__item {
  padding: 0 10px 0 140px;
}

.audience__item-container {
  position: relative;
  width: 211px;
  background-color: @light-grey;
  padding: 15px 10px 28px 36px;
  margin-bottom: 31px;

  &--agent:before {
    position: absolute;
    top: -61px;
    left: -120px;
    content: "";
    background-image: url("../img/agent_mobile1x.jpg");
    width:138px;
    height: 207px;
  }

  &--agent:after {
    position: absolute;
    top: 145px;
    left: -65px;
    content: "";
    width: 65px;
    height: 7px;
    background-color: @yellow;
  }

  &--investor:before {
    position: absolute;
    top: -29px;
    left: -139px;
    content: "";
    background-image: url("../img/investor_mobile1x.jpg");
    width:157px;
    height: 154px;
  }

  &--company:before {
    position: absolute;
    top: -32px;
    left: -120px;
    content: "";
    background-image: url("../img/company_mobile1x.jpg");
    width: 146px;
    height: 169px;
  }

  &--company:after {
    position: absolute;
    top: 136px;
    left: -93px;
    content: "";
    width: 93px;
    height: 8px;
    background-color: @yellow;
  }
}


.audience__item-title {
  display: block;
  width: 180px;
  position: relative;
  color: @head-black;
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  padding-left: 36px;
  margin-bottom: 9px;
  text-transform: uppercase;

  &--agent:before {
    position: absolute;
    top: 1px;
    left: 17px;
    content: "";
    width: 9px;
    height: 30px;
    background-color: @yellow;
  }

  &--investor:before {
    position: absolute;
    top: 2px;
    left: 17px;
    content: "";
    width: 8px;
    height: 30px;
    background-color: @yellow;
  }
}

.audience__item-description {
  color: @color-text-regular;
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  margin: 0;
  margin-bottom: 6px;
}

.audience__button {
  position: absolute;
  bottom: -13px;
  .button();
  padding: 9px;
}

@media (min-width: @desktop-width) {
  .audience {
    background-image: url("../img/small_photo-desktop1x.jpg");
    background-size: 100% 383px;
    background-repeat: no-repeat;
    padding-top: 500px;
    margin-top: -128px;

    @media (min-resolution: @retina-dppx) and (min-resolution: @retina-dpi) {
      background-image: url("../img/small_photo-desktop2x.jpg");
    }
  }

  .audience__wrapper {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-left: 4px solid @yellow;
  }

  .audience__title {
    width: 680px;
    margin-left: 20px;
    font-size: 40px;
    line-height: 78px;

  }

  .audience__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
  }

  .audience__item {
    padding: 0;
    margin-bottom: 50px;
  }

  .audience__item-title {
    width: 495px;
    font-size: 30px;
    line-height: 38px;
    padding-left: 139px;
    margin-bottom: 47px;

    &--agent:before {
      top: 8px;
      left: 68px;
      width: 30px;
      height: 115px;
    }

    &--investor:before {
      top: 8px;
      left: 68px;
      width: 30px;
      height: 115px;
    }

    &--company:before {
      position: absolute;
      top: 8px;
      left: 68px;
      content: "";
      width: 30px;
      height: 115px;
      background-color: @yellow;
    }
  }

  .audience__item-description {
    width: 550px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 28px;
  }

  .audience__item-container--company .audience__item-description {
    width: 500px;
  }

  .audience__item-container {
    width: 638px;
    min-height: 521px;

    padding: 50px 30px 0 89px;

    &--agent:before {
      position: absolute;
      top: -115px;
      left: -301px;
      content: "";
      background-image: url("../img/agent_desktop1x.jpg");
      background-repeat: no-repeat;
      width: 369px;
      height: 555px;

      @media (min-resolution: @retina-dppx) and (min-resolution: @retina-dpi) {
        background-image: url("../img/agent_desktop2x.jpg");
        background-size: 369px auto;
      }
    }

    &--agent:after {
      top: 440px;
      left: -244px;
      width: 244px;
      height: 26px;
    }

    &--investor:before {
      position: absolute;
      top: -115px;
      left: -490px;
      content: "";
      background-image: url("../img/investor_desktop1x.jpg");
      background-repeat: no-repeat;
      width:558px;
      height: 379px;

      @media (min-resolution: @retina-dppx) and (min-resolution: @retina-dpi) {
        background-image: url("../img/investor_desktop2x.jpg");
        background-size: 558px auto;
      }
    }

    &--company:before {
      position: absolute;
      top: -115px;
      left: -352px;
      content: "";
      background-image: url("../img/company_desktop1x.jpg");
      background-repeat: no-repeat;
      width: 420px;
      height: 487px;

      @media (min-resolution: @retina-dppx) and (min-resolution: @retina-dpi) {
        background-image: url("../img/company_desktop2x.jpg");
        background-size: 420px auto;
      }
    }

    &--company:after {
      top: auto;
      bottom: 119px;
      left: -352px;
      width: 352px;
      height: 30px;
    }
  }

  .audience__button {
    bottom: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 15px;
  }
}
