.content {
  background-image: url("../img/main_photo.jpg");
  background-size: 100%;
  min-height: 586px;
}

.content__container {
  .container();
}

.content__wrapper {
  width: 230px;
  margin-left: 20px;
}

.content__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 32.58px;
  text-transform: uppercase;
  .no-indents();
  padding-top: 147px;
  margin-bottom: 27px;
  word-wrap: break-word;
  color: @presentation_text_color;
}

.content__type {
  position: relative;
  font-size: 14px;
  font-weight: 900;
  line-height: 21.27px;
  color: @presentation_text_color;
}

.content__type:after {
  position: absolute;
  bottom: -13px;
  left: -20px;
  content: "";
  width: 200px;
  height: 1px;
  background-color: @yellow;
}

.content__description {
  position: relative;
  color: @presentation_text_color;
  width: 160px;
  word-break: break-word;
  font-size: 14px;
  margin: 0;
  padding-top: 24px;
}

.content__description:after {
  position: absolute;
  bottom: -51px;
  left: 0;
  content: "";
  width: 12px;
  height: 24px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}

@media (min-width: @desktop-width) {

  .content {
    background-image: url("../img/main_desktop.jpg");
    background-size: cover;
    min-height: 834px;

    @media (min-resolution: @retina-dppx) and (min-resolution: @retina-dpi) {
      background-image: url("../img/main_desktop2x.jpg");
    }
  }
  /*.content {
    background-image: url("../img/main_desktop.jpg");
    background-size: cover;
    min-height: 834px;
  }*/

  .content__wrapper {
    width: 600px;
  }

  .content__title {
    font-size: 60px;
    line-height: 78px;
  }

  .content__type {
    font-size: 40px;
    line-height: 50.29px;

    &:after {
        bottom: -13px;
        left: -100%;
        width: 170%;
        height: 2px;
    }
  }

  .content__description {
    width: 450px;
    font-size: 30px;
    line-height: 38px;

    &:after {
      display: none;
    }
  }
}
