.instruction {
  .container();
  padding-top: 11px;
}

.instruction__wrapper {
  padding: 0 52px;
}

.instruction__title {
  position: relative;
  color: @title-color;
  width: 300px;
  font-size: 14px;
  font-weight: 900;
  line-height: 27.04px;
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 5px;
}

.instruction__title-wrapper {
  border-left: 2px solid @yellow;
}

.instruction__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  .no-indents();
  margin: 0 auto;
}

.instruction__item {
  position: relative;
  width: 117px;
  min-height: 201px;
  background-color: @grey;
  margin-bottom: 10px;
  margin-left: 8px;

  &--registration:before {
    position: absolute;
    top: 58px;
    left: 37px;
    content: "";
    width: 43px;
    height: 43px;
    background-image: url("../img/desktop.svg");
  }

  &--manager:before {
    position: absolute;
    top: 58px;
    left: 37px;
    content: "";
    width: 43px;
    height: 42px;
    background-image: url("../img/manager2.svg");
  }

  &--contract:before {
    position: absolute;
    top: 58px;
    left: 42px;
    content: "";
    width: 43px;
    height: 43px;
    background-image: url("../img/contract2.svg");
  }

  &--sketch:before {
    position: absolute;
    top: 58px;
    left: 38px;
    content: "";
    width: 41px;
    height: 43px;
    background-image: url("../img/sketch2.svg");
  }
}

.instruction__item:nth-child(even) {
  width: 116px;
  margin-right: 3px;
}

.instruction__item-number {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.5px;
  padding-top: 7px;
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  color: @head-black;
  background-color: @yellow;
}

.instruction__item-description {
  width: 115px;
  color: @color-text-regular;
  font-size: 10px;
  font-weight: 500;
  line-height: 13.34px;
  margin: 0;
  padding: 123px 10px 10px 15px;
}
