.main-footer {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  .container();
  min-height: 120px;
  background-color: #000000;
  padding: 20px;
}

.main-footer__copyright {
  color: #fffefe;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
}

.main-footer__container {
  width: 115px;
  text-align: right;
}

.main-footer__information {
  color: #fffefe;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  margin: 0;
}

.main-footer__phone-number {
  color: #ffb600;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  text-decoration: underline;
}
