.presentation {
  .container();
  background-color: #1c1b19;
  margin-top: -52px;
}

.presentation__wrapper {
  position: relative;
  width: 300px;
  min-height: 170px; // temp
  margin: 0 auto;
  padding: 47px 0 30px;
}

.presentation__slogan--wrapper {
  width: 105px;
  margin: 0 auto;
  text-align: right;
  // outline: 1px solid red;
}

.presentation__slogan {
  position: absolute;
  .no-indents();
  width: 156px;
  min-height: 196px;
  font-family: "Lato-Black";
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin-top: -95px;
  margin-left: -10px;
  background-color: #ffb600;
  z-index: 100;
}

.presentation__slogan--time {
color: #000000;
font-family: "Lato - Semibold";
font-size: 12px;
font-weight: 400;
line-height: 15.05px;
letter-spacing: 1px;
}

.presentation__video {
  position: relative;
  background-color: white;
  z-index: 1000;
}
