.no-indents() {
  margin: 0;
  padding: 0;
}

.text(@font-size,@line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.button() {
  width: 141px;
  height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 8.43px;
  padding-top: 5px;
  border: none;
  border-radius: 14px;
  color: #fefdfd;
  background-color: @black-button;
  cursor: pointer;

  &:hover,
  &:focus {
    /*color: @color-text--white;
    background-color: @color-text--lightgrey;*/
  }

  &:active {
    /*color: rgba(255, 255, 255, 0.3);*/
  }
}


.container() {
  width: 360px;
  margin: 0 auto;
  // outline: 1px solid red;
}
