.no-indents() {
  margin: 0;
  padding: 0;
}

.button() {
  width: 141px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  border: none;
  border-radius: 14px;
  color: @button-white;
  background-color: @black-button;
  cursor: pointer;
}

.action-button {
  width: 162px;
  font-size: 10px;
  font-weight: 700;
  line-height: 15.04px;
  letter-spacing: 0.5px;
  padding: 14px 18px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: @button-black;
  background-color: @yellow;
}

.container() {
  width: 360px;
  margin: 0 auto;
}
